.section {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4rem;
  }
  
  .first-lottie {
    /* display: none !important; */
  }
  
  .section > * {
    text-align: center;
    max-width: 60ch;
    height: 20vh;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    position: relative;
    z-index: 99;
  }
  .main-header {
    font-size: 30px;
    color: var(--clr-white);
  }
  .main-header span {
    display: block;
    font-size: clamp(1rem, 4vw + 1rem, 4rem);
    color: hsl(var(--clr-glass-light));
  }
  
  .main-status {
    font-size: clamp(0.3rem, 3vw + 0.4rem, 2.5rem);
    color: var(--clr-white);
  }
  
  .main-btn  {
    cursor: pointer;
    margin-block: 1rem;
    text-decoration: none;
    color: var(--clr-white);
  }
  .container {
    width: 30%;
    margin-right: 10rem;
  }
  
  @media (min-width: 768px) {
      .first-lottie{
          display: none;
      }
  }
  
  @media (max-width: 768px) {
    .section {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: center;
    }
    .first-lottie {
  
      width: 100vw;
      height: 10rem;
    }
    .section > * {
      top: -7rem;
      text-align: center;
      max-width: 60ch;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      margin: 3rem;
      position: relative;
    }
  }
  