body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, var(--clr-section)),
    url(../src/assets/bgPhoto.jpg) no-repeat center;
    background-size: cover ;
    background-attachment: fixed ;
    overflow-wrap: break-word ;
    background-repeat: no-repeat ;
    background-position: center ;

  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
